
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif; 
}

body {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 85%;
    background: #f7f6f5ea;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #380404 0.52%, #5c2323 100%);
    --secondaryGradient: linear-gradient(268.91deg, #a71c2e -2.14%, #d3465e 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #175b70;
}

/* CHATBOX
=============== */
.chatbox-container {
    justify-content: center;
    display: flex;
   
}
.chatbox {
    position: absolute;
    margin:auto;
    width:-webkit-fill-available;
    margin:20px;
    /* bottom: 30px;
    right: 30px; */
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: block;
    flex-direction: column;
    background: #f5f2f2;
    width: -webkit-fill-available;
    /* height: 450px; */
    max-height: 450px;
    overflow: auto;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT IS OPEN */
.chatbox--active {
    transform: translateY(-10px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
    position: fixed;
    bottom: 1rem;
    display: flex;
    right: 1rem;
}

.Chatbot-btn-img {
    width:52px;
}




.send__button {
    margin: 4px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: rgb(245, 244, 243);
    z-index: 1;
}

.loader {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 15%;
    border: 5px solid #FFF;
    border-bottom-color: #03055c;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 0;

    }

/* MESSAGES */
.chatbox__messages {
    display: flex;
    overflow: auto;
    /* overflow-y: scroll; */
    flex-direction: column;
    max-height: 80vh;
}

.messages__item {
    background: rgb(235, 157, 1);
    max-width: 60.6%;
    width: fit-content;
    height: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
}

.chatbox__support {
    /* background: #f9f9f9; */
    background: linear-gradient(180deg, rgb(245, 247, 248) 0%, rgb(249, 251, 252) 0%, rgb(216, 216, 216) 50%, rgb(246, 248, 248) 100%);
    width: -webkit-fill-available;
    min-height: 90vh;
    overflow: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    /* background: var(--primaryGradient); */
    background: linear-gradient(90deg, rgb(252, 250, 247) 0%, rgb(79, 139, 179) 0%, rgb(26, 123, 136) 50%, rgb(2, 67, 87) 100%);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 15px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: var(--primaryBoxShadow);
    height:80px;
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__image--header img {
    max-width:60px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    position: absolute;
    padding: 10px 20px;
    bottom: 70px;
    top: 70px;
    width: -webkit-fill-available;
}

.messages__item {
    margin-top: 10px;
    background: #ffffff;
    padding: 8px 12px;
    max-width: 100%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.messages__item--operator {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: var(--primary);
    color: rgb(252, 250, 250);
}

/* FOOTER */
.chatbox__footer {
    height:70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    /* background: var(--secondaryGradient); */
    background: linear-gradient(90deg, rgb(151, 198, 219) 0%, rgb(60, 119, 158) 0%, rgb(45, 90, 119) 50%, rgb(26, 100, 122) 100%);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
   
}

.chatbox__footer input {
    width: 80%;
    margin: 4px;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Add this to your existing CSS */
.loading-spinner {
    display: none;
    margin: 4px;
    width: 40px;
    height: 40px;
    border: 4px solid #f9c3d4;
    border-top: 4px solid #45017f;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

.loading-spinner.visible {
    display: inline-block;
}

.send__button.hidden,
.refresh__button.hidden {
    display: none;
}

.send-btn-img {
    width:40px;
}

.refresh__button{
    margin: 4px;
    background: none;
    border: 0; cursor: pointer
    
}

.refresh-btn-img{
    width:40px;
}

.voice__button{
    margin: 4px;
    background: none;
    border: 0; cursor: pointer;
}

.voice-btn-img {
    width:40px;
}

/* Add your existing styles here */
.voice__button.recording {
    background-color: red;
    border-radius: 50%;
    animation: pulse 1s infinite;
}

.audio-icon{
    background: none;
    position: relative;
    margin-left: 92%;
    
    /* width:20px; height:20px; */
}
.audio-btn-img {
    width:16px;
    height:16px;
}

.send__button {
    max-width: 40px;

}

.language__dropdown {
    height: 40px;
    width: 100px;
    padding: 4px;
    background: linear-gradient(180deg, rgba(255, 184, 0, 1) 0%, rgba(255, 239, 249, 1) 0%, rgba(252, 197, 228, 1) 50%, rgba(248, 194, 206, 1) 100%);
    border-radius: 12px;
    color: #45017f;
    margin: 4px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* .loading-spinner {
    display: none; 
} */

.loading-spinner.visible {
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Mobile specific styles */
@media (max-width: 780px) {
    .chatbox {
        width: 100vw;
        height: calc(100vh - 70px); /* Adjusted height to leave space for chat icon */
        position: fixed;
        bottom: 70px; /* Adjusted position to be above chat icon */
        left: 0;
        z-index: 123456;
        border-radius: 0;
        transform: none;
    }

    .chatbox__support {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #f9f9f9;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

    .chatbox__header {
        padding: 15px 20px;
        border-radius: 0;
        box-shadow: none;
    }

    .chatbox__messages {
        padding: 0 20px;
        flex-grow: 1;
        overflow-y: auto;
    }

    .chatbox__footer {
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
    }

    .chatbox__button {
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: 123457; /* Ensure the button is above the chatbox */
    }
}
.audio-icon {
    border: none!important;
}



    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

